// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// BODY
$my-light-blue: #FAFAFD;

// HEADERS
$my-dark-blue: #001D2B;

// TEXTES
$my-medium-blue: #56556A;

// BOUTON COLOR
$my-blue-btn: #5F48F8;
