// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;

// BODY
$my-light-blue: #FAFAFD;
$backgroundcolor2: #F1F3F6;
$new-background: #DE7777;

$new-my-color: #ED7074;

// HEADERS
$my-dark-blue: #001D2B;
$new-my-header: #ED7074;

// TEXTES
$my-medium-blue: #56556A;
$medium-blue2: #8C8C95;

// BOUTON COLOR
$my-blue-btn: #5F48F8;

$new-my-color-btn: #FFA5A8;
