<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="title text-align-center">My Profil</h1>
      <%= link_to " Log-out", destroy_user_session_path, method: :delete, class: 'fas fa-cloud' %>

    </div>
  </div>

  <div class="row">
    <div class="col mt-4">
      <div class="d-flex">
        <%= image_tag "https://source.unsplash.com/ZqK8dLrQbpQ/200x200", alt: "alttext", class: 'profil-pic' %>
        <h4 class="name-title"><%= current_user.first_name + ' ' + current_user.last_name %></h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="resume col mt-4 ">
      <h4>Resume</h4>
      <p>UX/UI Designer from San Jose with 10 year of experience.</p>
    </div>
  </div>

  <div class="row">
    <div class="links col pb-2 mt-4">
       <%= link_to "LinkedIn",  class:'fa fa-linkedin' %>
    </div>
  </div>

  <div class="row ">
    <div class="portfolio col mt-2 px-2 "><h4>Portfolio</h4></div>
    <div class="flex">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="dribbble-card"></div>
        <div class="dribbble-card"></div>
        <div class="dribbble-card"></div>
        <div class="dribbble-card"></div>
        <div class="dribbble-card"></div>
        <div class="dribbble-card"></div>
        <div class="dribbble-card"></div>
        <div class="dribbble-card"></div>
        <div class="dribbble-card"></div>
        <div class="dribbble-card"></div>
      </div>
    </div>
  </div>
</div>




