<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" checked> Accept
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2"> Not accept
  </label>
</div>

<%#= link_to 'Update', edit_request_path(request), class: 'btn btn-primary'  %>
