<!-- MENU BAS  -->
<div class="container">
  <div class="menu">
    <div class="box">
      <div>
        <i class="ri-dashboard-line"></i>
      </div>
      <div>
        <i class="ri-search-line"></i>
      </div>
        <div>
          <i class="ri-discuss-line"></i>
        </div>
        <div>
           <i class="ri-account-circle-line"></i>
        </div>
      </div>
    </div>
  </div>
</div>
