<!-- MENU BAS  -->
<div class="container">
  <div class="menu">
    <div class="box">
      <div>
        <%= link_to projects_path do %>
          <i class="ri-dashboard-line"></i>
        <% end %>
      </div>
      <div>
        <%= link_to users_path do %>
          <i class="ri-search-line"></i>
        <% end %>
      </div>
      <div>
        <%= link_to projects_path do %>
          <i class="ri-discuss-line"></i>
        <% end %>
      </div>
      <div>
        <%= link_to user_path(current_user) do %>
          <i class="ri-account-circle-line"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
