<!-- <div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <%#= simple_form_for [@request, @project] do |f| %>
      <%#= f.submit "Accept", class: "btn btn-dark" %>
      <#% end %>
    </div>
  </div>
</div> -->
