<div class="container">
  <div class="row">
    <div class="col">
      <div class="mt-5">
        <h1 class="big-title">Spiice</h1>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div class="mt-2 mr-4 ml-4">
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary2" %>
      </div>
      <div class="mt-4">
        <%= link_to "Already have an account ? Login", new_user_session_path, class: "btn btn-text" %>
      </div>
    </div>
  </div>
</div>
