<<<<<<< HEAD

<div class="container homepage">
=======
<div class="container">
  <div class="row">
    <div class="col">
      <div class="mt-5">
        <h1 class="big-title">Spiice</h1>
      </div>
      <div class="mt-5">
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary2" %>
      </div>
      <div class="mt-4">
        <%= link_to "Login", new_user_session_path, class: "btn btn-primary3" %>
      </div>
    </div>
  </div>
</div>


>>>>>>> 5ef2a8a024feaea48861f853e0a8ff7360e10896

  <div class="child-1 text-center pt-5 mt-5 mb-5">
    <h1>Spiice</h1>
    <div class="buton-started mt-5 mb-3">
      <%= link_to 'Get started ', root_path, class: "btn-block rounded-pill btn-light py-3 px-2" %>
    </div>
    <div class="justify-content-center mr-1 mb-0 mt-1 already-member-login d-flex" style="padding-top: 50px;">
      <p class="account">Already have an account ?</p>
      <a class="login ml-2" "href="root_path">Login</a>
    </div>
  </div>
</div
