<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="title">Dashboard</h1>
    </div>
  </div>

  <div class="row">
    <div class="col mt-2">
      <h5>My stats</h5>
      <%= image_tag "charts.png", alt: "alttext" %>
    </div>
  </div>

  <div class="row">
    <div class="col mt-3"><h5>My projects</h5></div>
    <div class="flex">
      <div class="d-flex flex-column">
        <div class="card-project">
          <div class="row">
            <div class="col ">
            <%= image_tag "logo.png", alt: "alttext", class: "image-card-project"%>
          </div>
          <div class="col">
            <p>Titre</p>
            <h5>Titre du projet</h5>
            <p>Budget</p>
          </div>
          </div>
        </div>
        <div class="card-project"></div>
        <div class="card-project"></div>
        <div class="card-project"></div>
      </div>
    </div>
  </div>
</div>

