.btn-primary2 {
  width: 100%;
  background-color: #5F48F8;
  color: white;
  border-radius: 50px;
  padding: 12px;
}
.btn-primary3 {
  width: 100%;
  color: #5F48F8;
  border-radius: 50px;
  padding: 8px;
}
