.search-form {
 width: 79%
}

.search-input {
  border-radius: 8px;
  height: 48px;
}

.search-btn {
  padding: 12px 8px;
  background-color: #F6C5C6;
  color: #9b5355;
  border-radius: 8px;
  margin-left: 8px;
  font-weight: 500;
}
