.form-project {
  border-radius: 8px;
  height: 48px;
  box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.04);
}

.btn-search {
  border-radius: 8px;
  padding: 8px 16px;
  background-color: white;
  color: #ee8f66;
}
