.menu {
  width: 375px;
  height: 90px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
  position: fixed;
  bottom: 24px;
  left: 19px;
  z-index: 300;
}

.box {
  display: flex;
  justify-content: center;
}

.box div {
  text-align: center;
  width: 90px;
  height: 90px;
  padding: 20px 0;
  font-size: 2rem;
}

a:link {
  text-decoration: none;
}

i {
  // color: #CDCEE4;
  color: #FFA5A8;
}

.active {
  // color: #0A385A;
  color: #F2666A;
}

.image-card-project {
  width: 48px;
  height: 48px;
  margin: 8px;
}
