.request-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.04);
}

.request-card-date {
  font-size: 12px;
  color: #30384B;
}

.request-card-title {
  font-size: 20px;
  color: #30384B;
  font-family: Red Hat Display;
}

.request-card-upper-text {
  font-weight: 500;
  font-size: 14px;
  color: #8A98AB;
}

.request-card-text {
  color: #30384B;
  font-size: 16px;
  font-style: italic;
  line-height: 160%;
}

.request-card-button {
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  color: #9b5355;
  right: 0px;
  right: -20px;
  position: absolute;
}

.request-card-email {
  align-items: center;
  text-align: center;
  color: #001D2B;
  font-size: 16px;
  background-color: #FEEBEB;
  border-radius: 8px;
  padding: 24px;
  margin: 24px;
  height: 100%;
}

.request-card-choice {
  text-align: center;
  color: white;
  font-weight: 500;
}

.request-card-choice-accept {
  padding-right: 0;
}

.request-card-choice-decline {
  padding-left: 0;
}

.request-card-choice p {
  padding: 12px;
  margin: 16px;
  border-radius: 8px;
}

.accept a p {
  background-color: #9b5355;
  color: white;
  border:2px solid #9b5355;
}
.accept p {
  background-color: #C8E1D1;
  color: #048444;
  border:2px solid #C8E1D1;
}

.decline a p {
  background-color: #ffe1e2;
  color: #9b5355;
  border:2px solid #ffe1e2;
}

.choice {
  text-align: center;
  // margin-left: 64px;
  // margin-right: 64px;
  padding: 8px;
  border-radius: 8px;
  right: 0px;
  right: -40px;
  text-align: right;
  position: absolute;
}

.choice-pending {
  // color: #565669;
  color: #545454;
  background-color: #D8D8D8;
  font-weight: 500;
  // border: 2px dashed #565669;
}

.choice-accept {
  // color: #048444;
  background-color: #C8E1D1;
  color: #048444;
  font-weight: 500;
  // border: 2px dashed green;
}

.choice-decline {
  // color: red;
  color: #FC0404;
  background-color: #E8CDCD;
  font-weight: 500;
  font-size: 12px;
  // border: 2px solid red;
}
