.title {
  font-weight: bold;
  margin-top: 32px;
  text-shadow: -3px 2px lightgray;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 2px;
  font-style: oblique;
  box-shadow: 0 8px 6px 0 rgba(0,0,0,0.25), 0 6px 6px 0 rgba(0,0,0,0.20);

}

.big-title {
  font-size: 80px;
  text-align: center;
  margin-top: 240px;
  margin-bottom: 190px;
  letter-spacing: -0.04em;
}

.medium-title {
  font-weight: 500;
}

.name-title {
  font-weight: bold;
  margin-top: 6px;
  padding-left: 8px;
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 8px;
  letter-spacing: 2px;
  margin-left: 10px;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.25), 0 6px 6px 0 rgba(0,0,0,0.20);


}

.profil-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.25), 0 6px 6px 0 rgba(0,0,0,0.20);

}

.dribbble-card {
  width: 120px;
  height: 120px;
  box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.04);
  background-color: white;
  border-radius: 8px;
  margin: 8px;
   box-shadow: 0 8px 10px 0 rgba(0,0,0,0.25), 0 6px 6px 0 rgba(0,0,0,0.20);
}
.card-project {
  width: 398px;
  height: 107px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.04);
  margin: 8px;
   box-shadow: 0 8px 10px 0 rgba(0,0,0,0.25), 0 6px 6px 0 rgba(0,0,0,0.20);


}

