.user-card {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.user-name{
  text-align: left;
}

.list li{
  list-style-type: none;
  left: 0px;
}

// PROJECTS

.projects-card {
  margin: 0px 0px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.10);
}

.projects-card:hover {
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.projects-card-img {
  border-radius: 8px;
  padding: 8px;
  width: 64px;
  height: 64px;
}

.projects-card-img-big {
  border-radius: 8px;
  padding: 8px;
  width: 96px;
  height: 96px;
}

.projects-card-text {
  font-size: 14px;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.projects-card-title {
  margin-left: 8px;
  margin-top: 16px;
  margin-bottom: 0px
}

.projects-card-price {
  font-size: 16px;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: bold;
}

// DESIGNERS

.designers-card-avatar {
  border-radius: 50px;
  width: 48px;
  height: 48px;
  margin: 8px;
}

.designers-card-text {
  font-size: 14px;
  margin-left: 0px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.designers-card-title {

  margin-left: 0px;
  margin-top: 16px;
  margin-bottom: 0px
}

.status-card {
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
}

.update-title {
  text-align: center;
  color: white;
  line-height: 160%;
}

.card-tags {
  position: absolute;
  width: 80%;
  padding: 8px;

    span {
      background: $blue;
      font-size: .7em;
      padding: 2px 4px;
      border-radius: 3px;
      margin-right: 4px;
    }

    a {
      color: white;
    }
}

.dot-request {
  position: absolute;
  right: 120px;
  bottom: 50px !important;
  height: 20px !important;
  width: 20px !important;
  background-color: red;
  border-radius: 50%;
  text-align: center !important;
  // font-weight: bold;
  font-size: 12px !important;
  bottom: 40px;
  z-index: 440;
  padding: 1px;
  padding-left: 2px;
  color: white;
}

.linkable:hover{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
